.single{	
	text-align: center;
	top: 50px;
	padding-bottom: 50px;
	// color: #696565;
	.info{
		font-family: 'Source Sans Pro', sans-serif;
		margin: 0 20% ;
		font-size: 1.2em;
		line-height: 1.1em;
		// padding-bottom: 50px;
		color: #696565;
	}
}
.carousel{
	position: relative;
	text-align: center;
	img{
		padding-top: 50px;
		width: 70%;
		height: auto;
	}
}
