@import "html5-reset";

* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  // background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  width: 32%;
}

.grid-item {
  // float: left;
}

.grid-item img {
  // display: block;
  max-width: 100%;
  margin-bottom: 450px;
  height: auto;
}

//
.top-pane{
  overflow: hidden;
  .headline{
    top: 65%;
    text-align: center;
  }
  .element{
    display: inline !important;
    font-family: 'Space Mono', monospace;
    font-size: 1.5em;
    color: black;
    z-index: 10;
  }
  height: 70%;
  .icons{  
    // bottom: 10px;
    // right: 20px;
    // position: absolute;
    a{
      text-decoration: none;
      color: black;
      padding: 10px;
      font-size: 50em;
    }
  }
}
.image-wrap{
  position:absolute; 
  top:0; 
  left:0;
  overflow: hidden;
}
.gradient{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), transparent; 
  height: 100%;
}

.fa{
  font-size: 1.5em !important;
  color: black !important;
}

header{
  background: white;
  width: 100%;
  position: fixed;
  top: 0; 
  z-index: 2;
  padding: 15px 0;
  a{
  font-size: 17px;
  font-family: "Raleway", "Open Sans", "Helvetica-Neue", "Arial", "Helvetica", sans-serif;
  color: black;
  text-decoration: none;
  }
  .right{
    float: right;
    margin-right: 60px;
  }
  .left{
    margin-left: 45px;
    float: left;
  }
}

//typed.js
.typed-cursor{
    color: black;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; color: black;}
    50% { opacity:0; color: black;}
    100% { opacity:1; color: black;}
}
@-webkit-keyframes blink{
    0% { opacity:1; color: black;}
    50% { opacity:0; color: black;}
    100% { opacity:1; color: black;}
}
@-moz-keyframes blink{
    0% { opacity:1; color: black;}
    50% { opacity:0; color: black;}
    100% { opacity:1; color: black;}
}

//featherlight
.featherlight-content{
  padding: 0 !important;
  border-bottom: none !important;
}

.featherlight-next, .featherlight-previous{
    span{
      display: none !important;
    }
  }

@import "category";
@import "single";

#site-footer{
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  a{
    text-decoration: none;
    padding: 4.5px;
    font-size: 14px;
    color: #aaa;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
  }
  a:last-child{
    padding: 0px;
    color: #696565
  }
  @media (max-width: 500px){
    a:last-child{
      padding-top: 10px !important;
      display: block;
    }
  }
}

body{
  padding-bottom: 0px !important;
}

.ena-image{
  width: 50%; 
  display: inline-block;
  // top: -300px; 
  // left: -10%; 
  // position:fixed
}
@media (max-width: 1250px){
  .ena-image{
    height: 150%;
    width: auto !important;
    top: -400px; 
    left: -500px;
  }
}
.bottom-pane{
  padding: 20px;
  background: white
}
.grid-sizer{
  width: 1%;
}
.grid-sizer{
  width: 1.4%;
}