a, html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  position: relative; }

body {
  line-height: 1; }

ul {
  list-style: none; }

ol {
  list-style: decimal; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title], acronym[title] {
  border-bottom: 1px dotted;
  cursor: help; }

input, select {
  vertical-align: middle; }

i, em {
  font-style: oblique; }
  i i, i em, em i, em em {
    font-style: normal; }

b, strong {
  font-weight: bold; }

a:focus {
  outline: 1px dotted; }

* {
  box-sizing: border-box; }

/* force scrollbar */
html {
  overflow-y: scroll; }

body {
  font-family: sans-serif; }

/* ---- grid ---- */
/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both; }

/* ---- .grid-item ---- */
.grid-item {
  width: 32%; }

.grid-item img {
  max-width: 100%;
  margin-bottom: 200px;
  height: auto; }

.top-pane {
  overflow: hidden;
  height: 70%; }
  .top-pane .headline {
    top: 65%;
    text-align: center; }
  .top-pane .element {
    display: inline !important;
    font-family: 'Space Mono', monospace;
    font-size: 1.5em;
    color: black;
    z-index: 10; }
  .top-pane .icons a {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 50em; }

.image-wrap {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden; }

.gradient {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), transparent;
  height: 100%; }

.fa {
  font-size: 1.5em !important;
  color: black !important; }

header {
  background: white;
  border-bottom: 1px solid #dbdbdb;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  padding: 15px 0; }
  header a {
    font-size: 17px;
    font-family: "Raleway", "Open Sans", "Helvetica-Neue", "Arial", "Helvetica", sans-serif;
    color: black;
    text-decoration: none; }
  header .right {
    float: right;
    margin-right: 60px; }
  header .left {
    margin-left: 45px;
    float: left; }

.typed-cursor {
  color: black;
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1;
    color: black; }
  50% {
    opacity: 0;
    color: black; }
  100% {
    opacity: 1;
    color: black; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1;
    color: black; }
  50% {
    opacity: 0;
    color: black; }
  100% {
    opacity: 1;
    color: black; } }
@-moz-keyframes blink {
  0% {
    opacity: 1;
    color: black; }
  50% {
    opacity: 0;
    color: black; }
  100% {
    opacity: 1;
    color: black; } }
.featherlight-content {
  padding: 0 !important;
  border-bottom: none !important; }

.featherlight-next span, .featherlight-previous span {
  display: none !important; }

.content {
  top: 120px; }
  .content h1 {
    text-align: center;
    padding-bottom: 50px;
    font-size: 2em;
    font-family: 'Source Sans Pro', sans-serif; }
  .content a {
    margin-top: 50px;
    text-decoration: none;
    padding-bottom: 100px; }
    .content a article {
      height: 400px;
      width: 100%;
      margin-bottom: 200px;
      overflow: hidden;
      background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), transparent; }
      .content a article h2, .content a article .preview {
        color: white;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.1em !important;
        padding-left: 12.5%;
        width: 40%;
        top: 30%; }
      .content a article h2 {
        font-size: 1.5em !important;
        padding-bottom: 0px;
        text-align: left; }
      .content a article .preview {
        font-size: 1em;
        padding-top: 40px;
        padding-right: 0px; }
      .content a article img {
        z-index: -1;
        width: 100%;
        height: auto;
        position: absolute; }
      @media (max-width: 600px) {
        .content a article img {
          height: 100%;
          width: auto; }
        .content a article .preview {
          padding-top: 20px; } }

.single {
  text-align: center;
  top: 50px;
  padding-bottom: 50px; }
  .single .info {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 20%;
    font-size: 1.2em;
    line-height: 1.1em;
    color: #696565; }

.carousel {
  position: relative;
  text-align: center; }
  .carousel img {
    padding-top: 50px;
    width: 70%;
    height: auto; }

#site-footer {
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 50px;
  font-family: 'Source Sans Pro', sans-serif; }
  #site-footer a {
    text-decoration: none;
    padding: 4.5px;
    font-size: 14px;
    color: #aaa;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    cursor: pointer; }
  #site-footer a:last-child {
    padding: 0px;
    color: #696565; }
  @media (max-width: 500px) {
    #site-footer a:last-child {
      padding-top: 10px !important;
      display: block; } }

body {
  padding-bottom: 0px !important; }

.ena-image {
  width: 50%;
  display: inline-block; }

@media (max-width: 1250px) {
  .ena-image {
    height: 150%;
    width: auto !important;
    top: -400px;
    left: -500px; } }
.bottom-pane {
  padding: 20px;
  background: white; }

.grid-sizer {
  width: 1%; }

.grid-sizer {
  width: 1.4%; }

@media (max-width: 800px) {
  .left-side {
    display: block; } }

/*# sourceMappingURL=style.css.map */
